/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input {
  height: 18px;
  margin: 0 10px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  border-radius: 2px;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 92%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 2em;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 35px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 135px;
}

.tooltip:hover:before{
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* ==========================================================================
   Mobile first
   ========================================================================== */

.center {
  margin: 0 auto;
}

.wrap {
  margin: 0 10px;
}

#Score {
  position: relative;
  height: 30px;

  background: #ff3232; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZmZmNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #ff3232 0%, #6fff4f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(100%,#6fff4f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ff3232 0%,#6fff4f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ff3232 0%,#6fff4f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ff3232 0%,#6fff4f 100%); /* IE10+ */
background: linear-gradient(to right,  #ff3232 0%,#6fff4f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#6fff4f',GradientType=1 ); /* IE6-8 */

  
}

#Errors {
  margin: 20px 15px 10px 15px;
}

#Errors div {
  display: none;
}

#Save, #Retrieve {
  display: none;
}

#Score .marker {
  position: absolute;
  left: 0px;
  height: 30px;
  width: 3px;
  background-color: rgba(0, 0, 0, 0.5);

  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

#Score .value {
  position: absolute;
  left:0;
  margin-top: 30px;
  margin-left: -5px;
}

.meter-container {
  position: absolute;
  width: 100%;
}

.meter-text {
  width: 120px;
  text-align: center;
  margin: 0 auto;
  margin-top: 2px;
  color: #fff;
}

.level .info {
  font-size: 1.3em;
}

.lvl {
  margin: 30px 10px 10px 10px;
  padding: 15px;
  background-color: #EBEBEB;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.lvl .new-level {
  height: 36px;
}

.level button {
  margin: 10px 0;
  float: right;
}

.level .info {
  border-bottom: solid;
  border-bottom-color: #7A7A7A; 
  padding-bottom: 5px;
}

.level-weight {
  float: right;
}

.level-weight input {
  margin-top: 0px;
}

.level .results {
  border-top: solid;
  border-top-color: #7A7A7A; 
  font-size: 0.8em;
  padding-top: 10px;
  clear: both;
}

.level .results .box {
  margin-left: 2px;
  display: inline-block;
  text-align: center;
  background-color: #FFFFEA;
  padding: 2px 5px;

}

.modules {
  font-size: 0.8em;
}

.modules p {
  margin: 10px 0px;
}

.module {
  color: #FAFAFA;
  padding: 7px;
  margin-top: 10px;
  background-color: rgba(36, 104, 158, 0.75);
  -webkit-border-radius: 5px;
  border-radius: 2px;
}


.module:before, .module:after {
  content: "";
  display: table;
}
.module:after {
  clear: both;
}

.module .name {
  display: inline-block;
  float: left;
}

.module .name input {
  text-align: left;
}

.modules .details {
  margin-top: 10px;
  font-size: 0.8em;
  color: #A3A3A3;
}

.module .values {
  margin-top: 10px;
  display: inline-block;
}

.module .ratio {
  margin-left: 10px;
}

.module input:last-child {
  margin-right: 0;
}

.module .name input {
  width: 150px;
}

.pull-right {
  float:right;
}

.pull-left {
  float: left;
}

.clear-fix {
  clear: both;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  outline: none;
}

.btn-small {
  padding: 2px 5px;
  font-size: 11px;
}

.btn-grey {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-blue {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btns {
  width: 235px;
  margin: 0 auto;
}

.btns button {
  margin: 0 7px;
}

.title {
  margin: 0;
  font-size: 1.5em;
}

.top-row {
  margin-top: 7px;
  margin-bottom: 15px;
}

.attrib {
  width: 230px;
  text-align: center;
  color: #555;
  font-size: 0.8em;
}

.attrib a {
  color: #428bca;
  text-decoration: none;
}

.attrib a:hover {
  color: #61BFDD;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* intermediate */
@media only screen and (min-width: 480px) {

  .module .values {
    float: right;
    margin-top: 0px;
    display: inline-block;
  }

  .level .results {
    font-size: 1em;
  }

  .level .modules {
    font-size: 1em;
  }


}

/* Desktop */
@media only screen and (min-width: 960px) {

  #Container {
    width: 900px;
    padding: 0 15px;
  }

  .lvl {
    width: 400px;
    float: left;
    margin: 10px 10px 10px 10px;
  }

  .btns {
    width: 270px;
  }

  .btns button {
    margin: 0 15px;
  }

}
